<link rel="stylesheet" href="/css/msg.css">
{{#if error_msg}}
    <div class="error_msg"><span>{{error_msg}}</span></div>
{{/if}}

{{#if success_msg}}
    <div class="success_msg"><span>{{success_msg}}</span></div>
{{/if}}